.list-cont {
    width: 50%;
    margin-right: 15px;
    margin-left: 30px;
    .list-header {
        display: flex;
        justify-content: space-between;
        background-color: #F8F8F9;
        border-bottom: 1px solid #DDDDDD;
        > h4 {
            padding: 0 20px;
            font-weight: lighter;
            margin-right: 80px;
        }
    }
    .scroll {
        height: 470px;
        overflow: overlay;
        .list-data {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            border-bottom: 1px solid #DDDDDD;
            > div {
                font-weight: normal;
                margin-right: 80px;
                text-align: left;
                display: block;
                margin-block-start: 1.33em;
                margin-block-end: 1.33em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            > h4 {
                font-weight: normal;
                margin-right: 107px;
                text-align: left;
            }
        }
    }
}