.app {
  .search-cont {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 10px;
  }
  .data-disp {
    display: flex;
    justify-content: center;
  }
}