body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: #15A7EA;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 5rem;
  border: none;
  height: 2rem;
}

button:hover {
  background-color: #346392
}

.pointer {
  cursor: pointer;
}

.blue {
  color: #15A7EA;
}

.thin {
  font-weight: lighter;
  text-align: left;
}